* {
  background-color: mediumpurple;
  font-weight: bold;
}

.container {
  display: flex;
  height: 80vh;
  position: relative;
  margin: 20px;
}

h4 {
  background-color: black;
  color: white;
  font-family: "ZCOOL KuaiLe", cursive;
  font-size: 1.5rem;
}

.sub-container {
  margin: auto;
  border: 20px solid black;
  border-top: 0;
  border-radius: 20px;
  background-color: black;
  text-align: center;
}

.white-keys kbd {
  background-color: white;
  padding-top: 130px;
  padding-bottom: 40px;
  width: 60px;
  text-align: center;
  border: 1px solid lightgray;
  float: left;
  border-radius: 0 0 5px 5px;
}

.white-keys kbd:active {
  border-top: 1px solid #777;
  border-left: 1px solid #999;
  border-bottom: 1px solid #999;
  box-shadow: 2px 0 3px rgba(0, 0, 0, 0.1) inset,
    -5px 5px 20px rgba(0, 0, 0, 0.2) inset, 0 0 3px rgba(0, 0, 0, 0.2);
  background: linear-gradient(to bottom, #fff 0%, #e9e9e9 100%);
}

#keyA,
#keyJ {
  border-radius: 5px;
}

.black-keys {
  background-color: transparent;
  width: 350px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  margin: 0px 45px;
}

.black-keys kbd {
  background-color: black;
  display: inline-block;
  padding-top: 60px;
  padding-bottom: 20px;
  width: 30px;
  color: white;
  text-align: center;
  border-top: 0;
  border-radius: 0 0 3px 3px;
}

.black-keys kbd:active {
  box-shadow: -1px -1px 2px rgba(255, 255, 255, 0.2) inset,
    0 -2px 2px 3px rgba(0, 0, 0, 0.6) inset, 0 1px 2px rgba(0, 0, 0, 0.5);
  background: linear-gradient(to right, #444 0%, #222 100%);
}

@media screen and (max-width: 480px) {
  * {
    font-size: x-small;
  }
  .white-keys kbd {
    padding-top: 110px;
    padding-bottom: 20px;
    width: 35px;
  }
  .black-keys {
    width: 215px;
    margin: 0px 22px;
  }

  .black-keys kbd {
    padding-top: 40px;
    padding-bottom: 20px;
    width: 23px;
  }
}
